button {
  margin: 5px 0 auto;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #4CAF50; /* A nice green color that works well with both light and dark backgrounds */
  color: #f0f0f0;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.max-width {
  width: 100%;
}

.no-table-border {
  border: none;
}

.right-align {
  text-align: right;
}

.left-align {
  text-align: left;
}

.centered-content {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#main {
  align-content: center;
}

.centered-element {
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
}


